#header{
    grid-area: h;
    width: auto;
    background-color: cadetblue;
    text-align: center;
    height: 200px;
}

#menu{
    grid-area: m;
    width: auto;
    background-color: #d4b797;
    height: 45px;
    overflow: hidden;
}

#menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}

#column1{
    grid-area: c1;
    background-color: aliceblue;
    height: 300px;
}

#column2{
    grid-area: c2;
    background-color: azure;
    height: 300px;
}

#column3{
    grid-area: c3;
    background-color: beige;
    height: 300px;
}


#footer{
    grid-area: f;
    width: auto;
    background-color: #d4b797;
    text-align: center;
    height: 150px;
}


#container{
    display: grid;
    grid-template-areas: 
    'h  h  h'
    'h  h  h'
    'm  m  m'
    'c1 c2 c3'
    'c1 c2 c3'
    'c1 c2 c3'
    'f  f  f'
    'f  f  f';
}


@media screen and (max-width: 600px){
    #menu{
        display: flex;
        flex-direction: column-reverse;
        height: 70px;
    }
    #column1{
        display: flex;
        flex-direction: column-reverse;
    }
    #column2{
        display: flex;
        flex-direction: column-reverse;
    }
    #column3{
        display: flex;
        flex-direction: column-reverse;
    }
    #container{
        display: grid;
        grid-template-areas: 
        'h  h'
        'h  h'
        'm  m'
        'c1 c3'
        'c1 c3'
        'c1 c3'
        'c2 c2'
        'c2 c2'
        'c2 c2'
        'f  f'
        'f  f';
    }
}
