<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Shoping Card</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div>
        <form action="/addToCart" method="post">Add to cart <br>
            <label>Name <input name="name" value=""></label> 
            <label>Price <input name="price" value=""></label>
            <label>Description <input name="description" value=""></label> 
            <label>ID <input name="id" value=""></label>
            <button type="submit">Add to Cart</button>
        </form>
        <br><br>
        <form action="/shoppingcart" method="post">
            <button type="submit">View Shopping Cards</button>
        </form>
    </div>
</body>

</html>