<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Result</title>
    
</head>

<body>
    <div>
        <form action="/result" method="post">
            <label>Name <input name="name" value="<%= name %>"></label> 
            <label>Age <input name="age" value="<%= age %>"></label>
            <button type="submit">SubmitQuery</button>
        </form>
    </div>
</body>

</html>