<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MY Contact</title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>aaaa
        <div>
            <p><%= cartNum1 %></p>
        </div>

    </body>
</html>
